@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.ttf") format("ttf"),
    url("fonts/Roboto.eot") format("eot"),
    url("fonts/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
ul,
li,
input,
header,
main,
section,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #e5e5e5;
  display: flex;
}

.search-box {
  width: 661px;
  min-height: 763px;
  margin: 60px auto;
  background-color: #c4c4c4;
}

.search-box__input-box {
  width: 500px;
  height: 281px;
  margin: 62px 84px 0 77px;
}

.search-box__input {
  width: 500px;
  height: 61px;
  background-color: #ffffff;
  font-size: 48px;
  line-height: 56px;
  padding-left: 13px;
  border: none;
}

.search-box__autocom {
  width: 500px;
  height: 220px;
  list-style: none;
  font-size: 30px;
  line-height: 35px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.search-box__autocom li {
  height: 44px;
  border: 2px solid #000000;
  background-color: #e3e3e3;
  padding-left: 13px;
  cursor: default;
  display: none;
}

.search-box__autocom li:hover {
  background-color: #65cdf9;
}

.active li {
  display: block;
}

.search-box__result-box {
  width: 503px;
  margin: 45px 84px 72px 74px;
  list-style: none;
  font-size: 24px;
  line-height: 28px;
}

.search-box__result-element {
  height: 101px;
  padding: 8px 17px 8px 16px;
  background-color: #e27beb;
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
}

.search-box__result-element div {
  display: flex;
  flex-direction: column;
}

.search-box__result-element button {
  margin-right: 17px;
  border: none;
  align-self: center;
  width: 42px;
  height: 38.5px;
  cursor: pointer;
  background-color: #e27beb;
  background-image: url(img/Vector7.svg), url(img/Vector8.svg);
  background-repeat: no-repeat;
  background-position: center;
}
